#header{
     color:white;
     text-align: center;
     font-size:30px;
     font-weight: bolder;
     font-family:fantasy
     border:1px solid white;
     background-color: teal;
     margin-top: 0px;
}
